
.text_ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.text_header{
    /* font-family: Lato; */
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.text_igr{
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
}
.text_dsc{
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}
/* #list_igr{
    width: 200%;
   
} */
.display{
    display:block;
}
/* .toggle_class{
    display:bock;
} */
#btn_igr{
    width: 150px;
    height: 50px;
}
.col_count{
    column-count: 3;
}